#top-bar {
    width: 100%;

    float: left;

    border-bottom: 1px solid #e6e6e6;


    .left {
        width: 20%;
        padding: 10px;
        border-right: 1px solid #e6e6e6;
        float: left;
        h1 {
            font-size: 32px;
            margin: 0;
            float: left;
        }
        button {
            float: right;
            height: 40px;
        }
    }

    .right {
        width: 70%;
        padding: 10px;
        border-right: 1px solid #e6e6e6;
        float: right;
        h1 {
            font-size: 32px;
            margin: 0;
            text-align: center;
        }
        button {
            float: right;
            height: 40px;
        }
    }
}