#note-content {
    padding: 25px;

    input {
        width: 100%;
        height: 60px;
        border: 0!important;
        font-size: 28px;
        text-align: center;
        margin-bottom: 100px;
        outline: none!important;
    }

    textarea {
        min-height: 250px;
        width: 100%;
        font-size: 28px;
        border: 0px!important;
        text-align: center;
        outline: none!important;
    }

    button {
        width: 100%;
        background: rgb(111, 201, 111);
        height: 50px;
    }
}